/* Section fonts ------------------------------- */

header {
    background-color: green;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: grey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media (width > 320px) {
    header nav ul {
        flex-direction: row;
    }
}

@media (width > 768px){
    header nav ul {
        font-size: 2rem;
    }
}
/* Nav Menu ------------------------------------- */
nav a {
    color: whitesmoke;
    text-decoration: none; 
  }
  nav a:hover {
    color: #e74c3c;
  }
nav ul a{
    background-color: green;
    flex-direction: row;
    justify-content: center;
}

/* list item background ---------------------------- */
ol li:nth-child(odd) {
    background-color: #c8c8c8;
    padding: .5rem; 
  }
  ol li:nth-child(even) {
    background-color: white;
    padding: .5rem;  
  }
ol {
    outline: auto;
    
}
/* table row background ----------------------------- */
table tr:nth-child(odd) {
    background-color: #c8c8c8;  
  }
  table tr:nth-child(even) {
    background-color: white;
  }
table {
    outline: auto;
}
