
header {
    background-color: green;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: grey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media (width > 320px) {
    header nav ul {
        flex-direction: row;
    }
}

@media (width > 768px){
    header nav ul {
        font-size: 2rem;
    }
}


/* list item background */
ol li:nth-child(odd) {
    background-color: #f0f0f0; 
  }
ol {
    outline: auto;
}
/* table row background */
table tr:nth-child(odd) {
    background-color: #f0f0f0; 
  }
table {
    outline: auto;
}
  